.workout__cart {
  display: flex;
  width: 467px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  border-radius: 8px;
  border: 1px solid var(--Gray-80, #444);
  flex-direction: column;
  box-sizing: border-box;

  &-planes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    align-items: center;
  }

  &-name {
    flex: 1 0 0;
    color: var(--Gray-0, #EDEDED);
    font-size: 40px;
    font-weight: 500;
    line-height: 110%;
    text-wrap: wrap;
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: nowrap;
  }

  &-time {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-info-workout {
    width: 100%;
    height: auto;
    color: var(--Gray-30, #C3C3C3);
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
  }

  &-text-container {
    display: flex;
    height: 40px;
  }

  &-description {
    color: var(--Gray-30, #C3C3C3);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    height: auto;
  }

  &-button {
    display: flex;
    width: 188px;
    height: 48px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    color: var(--Primary-100, #E2DDDB);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.64px;
    text-transform: uppercase;
    border-radius: 8px;
    border: 1px solid var(--Primary-100, #E2DDDB);

    &:hover {
      border: 1px solid var(--Gray-60, #A7A7A7);
    }

    &:active {
      font-weight: 700;
      outline: none;
      border: 1px solid var(--Primary-100, #E2DDDB);
      box-shadow: 0 0 0 1px var(--Gray-100, #E2DDDB) inset; 
    }
  }
}