.slider__wrapper {
  display: flex;
  max-width: 1512px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
}

.slider {
  display: flex;
  flex-direction: column;

  &__title-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 56px;
  }

  &__title {
    color: var(--Gray-0, #EDEDED);
    font-size: 64px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 3.2px;
    text-transform: uppercase;
  }

  &__buttons-container {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  &__button {
    cursor: pointer;
    transition: stroke 0.3s ease;

    &:hover rect {
      stroke-width: 1px;
      stroke: var(--Gray-30, #A7A7A7);
    }

    &:hover path {
      stroke-width: 1px;
      stroke: var(--Gray-30, #A7A7A7);
    }

    &:active rect {
      stroke-width: 2px;
      stroke: var(--Gray-30, #C3C3C3);
    }

    &:active path {
      stroke-width: 3px;
      stroke: var(--Gray-30, #C3C3C3);
    }
  }

  &__slide {
    width: 100%;
    cursor: pointer;
  }
}
