.navigation {
  display: flex;
  flex-direction: row;
  max-width: 583px;

  &__nav {
    display: flex;
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    align-items: flex-start;
  }

  &__links {
    padding-block: 16px;
    position: relative;

    &:hover::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 3px;
      border: 1px solid var(--Gray-100, #111115);
      border-radius: 8px;
      transition: width 0.5s ease;
    }

    &:active::after {
      border-radius: 8px;
      width: 100%;
    }

    &:hover {
      text-shadow: 0 0 0.02px #111115;
    }

    &-dark {
      &:hover {
        text-shadow: 0 0 0.02px #F3F4F6;
      }
    }
  }

  &__nav-items {
    position: relative;
    color: var(--Gray-100, #111115);
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    white-space: nowrap;

    &-drobdown-conteiner {
      position: relative;
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: center;
    }

    &-dark {
      color: var(--Gray-100, #D5D6DA);
    }
  }

  body .navigation .isActive {
    &::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 100%;
      border: 1px solid var(--Gray-100, #111115);
      border-radius: 8px;
    }
  }

  .navigation-links-dark__isActive {
    &::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 12px;
      width: 100%;
      border: 1px solid var(--Gray-100, #D5D6DA);
      border-radius: 8px;
    }
  }

  .dropDown__menu {
    position: absolute;
    top: 40px;
    left: -9px;
    width: 170px;
    height: auto;
    display: flex;
    padding: 2px var(--sds-size-space-400) var(--sds-size-space-200) 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    border-radius: 8px;
    opacity: var(--sds-size-stroke-border);
    background: var(--Gray-0, #D6D0CE);
    backdrop-filter: blur(8px);

    &-dark {
      position: absolute;
      top: 40px;
      left: -9px;
      width: 170px;
      height: auto;
      display: flex;
      padding: 2px var(--sds-size-space-400) var(--sds-size-space-200) 0px;
      flex-direction: column;
      align-items: flex-start;
      gap: 2px;
      border-radius: 8px;
      opacity: var(--sds-size-stroke-border);
      background: var(--Gray-100, #111115);
      backdrop-filter: blur(8px);
    }

    &-item {
      display: flex;
      height: 44px;
      min-width: 44px;
      padding: 0px 8px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      color: var(--Gray-80, #575759);
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      text-wrap: nowrap;

      &-dark {
        display: flex;
        height: 44px;
        min-width: 44px;
        padding: 0px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        color: var(--Gray-80, #B0B1B5);
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        text-wrap: nowrap;

        &:hover {
          color: var(--Gray-80, #B0B1B5);
          font-weight: 600;
        }

        &:active {
          color: var(--Gray-30, #D5D6DA);
          font-weight: 600;
        }
      }

      &:hover {
        color: var(--Gray-80, #575759);
        font-weight: 600;
      }

      &:active {
        color: var(--Gray-80, #111115);
        font-weight: 600;
      }
    }
  }

  .navigation__nav-items-icon {
    transition: transform 0.3s ease-in-out;

    &-dark {
      transition: transform 0.3s ease-in-out;
    }
  }
  
  .rotate-180 {
    transform: rotate(180deg);
  }
  
  .navigation__nav-items-icon-dark path {
    stroke: #D5D6DA;
  }
  
  .navigation__nav-items-icon-dark.rotate-180 {
    transform: rotate(180deg);
  }
}

.header-dark {
  .navigation__links {
   &:hover::after, &:active::after {
    bottom: 12px;
    border-color: #D5D6DA;
   }
  }
} 

.header-dark {
  .navigation__links {
   &:hover::after, &:active::after {
    bottom: 12px;
    border-color: #D5D6DA;
   }
  }
} 

body .header .isActive {
  &::after, &:active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    border: 1px solid var(--Gray-100, #111115);
    border-radius: 8px;
    // font-weight: 500;
  }
}
