.footer {
  display: inline-flex;
  padding: 24px 32px 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  background: #111115;


  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;

    @media (min-width:320px) and (max-width: 782px) {
      align-items: flex-start;
      flex-direction: column;
      align-content: flex-start;
      gap: 24px;
    }
    @media (min-width:720px) and (max-width: 982px) {
      align-items: flex-start;
      flex-direction: row;
      align-content: flex-start;
      gap: 24px;
    }
  }

  &__block-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &__contact {
    display: flex;
    padding-block: 14px;
    color: var(--Gray-0, #EDEDED);
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    cursor: pointer;

    &:hover::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 3px;
      border: 1px solid var(--Gray-100, #EDEDED);
      border-radius: 8px;
      transition: width 0.5s ease;
    }

    &:active::after {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__block-nav {
    display: flex;
    flex-direction: column;

    @media (min-width:520px) and (max-width: 982px) {
      justify-content: space-between;
      flex-direction: row;
      gap: 104px;
    }

    @media (min-width:320px) and (max-width: 782px) {
      justify-content: space-between;
      flex-direction: row;
      gap: 104px;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: row;
    max-width: 583px;

    @media (min-width:320px) and (max-width: 782px) {
      flex-direction: column;
    }
  
    &__nav {
      display: flex;
    }
  
    &__nav-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      align-items: flex-start;
    }
  
    &__nav-items {
      position: relative;
      color: var(--Gray-0, #EDEDED);
      font-size: 16px;
      font-weight: 300;
      line-height: 100%;
      padding-block: 14px;

      &:hover::after, &:active::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 8px;
        width: 3px;
        border: 1px solid var(--Gray-100, #EDEDED);
        border-radius: 8px;
        transition: width 0.5s ease;
      }
  
      &:active::after {
        border-radius: 8px;
        width: 100%;
      }
    }
  }

  &__block-social {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__social {
    color: var(--Gray-0, #EDEDED);
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    cursor: pointer;
    padding-block: 14px;


    &:hover::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 3px;
      border: 1px solid var(--Gray-100, #EDEDED);
      border-radius: 8px;
      transition: width 0.5s ease;
    }

    &:active::after {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    @media (min-width:320px) and (max-width: 882px) {
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
    }
  }

  &__policy {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    @media (min-width:320px) and (max-width: 882px) {
      width: 100%;
      justify-content: flex-start;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__policy-item {
    color: var(--Gray-60, #A7A7A7);
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    position: relative;
    cursor: pointer;
    padding-block: 14px;

    &:hover::after, &:active::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 8px;
      width: 3px;
      border: 1px solid var(--Gray-100, #A7A7A7);
      border-radius: 8px;
      transition: width 0.5s ease;
    }

    &:active::after {
      border-radius: 8px;
      width: 100%;
    }
  }

  &__bottom-copyring {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  &__copyring-text {
    color: var(--Gray-60, #A7A7A7);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300px;
    line-height: 140%;
    letter-spacing: 0.28px;
  }
}
