.wrapper {
  display: flex;
  max-width: 1512px;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  margin-inline: auto;
  background: #111115;
}

.contacts {
  width: 100%;
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  background: #111115;

  @media (min-width:320px) and (max-width: 520px) {
    padding-inline: 24px;
  }

  &__ready-button {
    margin-top: 40px;
    display: flex;
    width: 221px;
    height: 56px;
    padding: 0 16px 0 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E2DDDB;
    text-transform: uppercase;
    gap: 12px;
    text-wrap: nowrap;
    transition: width 0.7s ease, font-size 0.4s ease;

    @media (min-width:320px) and (max-width: 520px) {
      width: 100%;
    }
  
    &:hover {
      transition: width 0.7s ease, font-size 0.4s ease;
      width: 241px;

      @media (min-width:320px) and (max-width: 520px) {
        width: 100%;
      }
    }
  
    .contacts__ready-button-arrow-white path {
      stroke: #E2DDDB;
    }
  
    &:active path {
      stroke-width: 2px;
    }
  
    .contacts__ready-button-arrow-white path {
      transition: stroke-width 0.4s ease;
    }
  
    &:hover .contacts__ready-button-arrow-white path {
      stroke: #111115;
    }
  
    &:active {
      transition: width 0.6s ease, font-size 0.6s ease;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      letter-spacing: 0.72px;
      width: 245px;

      @media (min-width:320px) and (max-width: 520px) {
        width: 100%;
      }
    }
  }

  &__poster {
    margin-top: 24px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    background: lightgray -161.269px -193.789px / 118.103% 238.527% no-repeat;
  }

  &__container {
    margin: 56px 0 144px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;

    @media (min-width:320px) and (max-width: 720px) {
      margin: 32px 0 64px 0;
    }

    &-contactUs {
      gap: 16px;
      display: flex;
      flex-direction: column;
    }

    &-content {
      display: flex;
      flex-direction: row;
      gap: 8px;
      color: var(--Gray-30, #D5D6DA);
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      text-wrap: nowrap;

      &-text {
        display: flex;
        position: relative;
        text-wrap: nowrap;
        color: var(--Gray-60, #B0B1B5);
        font-size: 16px;
        font-weight: 400;
        line-height: 100%;
        cursor: pointer;

        &:hover::after, &:active::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -7px;
          width: 3px;
          border: 1px solid var(--Gray-100, #B0B1B5);
          border-radius: 8px;
          transition: width 0.5s ease;
        }
    
        &:active::after {
          border-radius: 8px;
          width: 100%;
        }
      }
    }

    &-visitUs {
     display: flex;
     flex-direction: column;
     gap: 16px;

     &-content {
      display: flex;
      gap: 8px;
      color: var(--Gray-30, #D5D6DA);
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      cursor: pointer;

        &-text {
          position: relative;
          text-wrap: nowrap;
          display: flex;
          color: var(--Gray-60, #B0B1B5);
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;

          &:hover::after, &:active::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -7px;
            width: 3px;
            border: 1px solid var(--Gray-100, #B0B1B5);
            border-radius: 8px;
            transition: width 0.5s ease;
          }
      
          &:active::after {
            border-radius: 8px;
            width: 100%;
          }
      }

      &-opening {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-hours {
          color: var(--Gray-30, #D5D6DA);
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;
        }

        &-day {
          color: var(--Gray-60, #B0B1B5);
          font-size: 16px;
          font-weight: 400;
          line-height: 100%;
        }
      }
     }
    }

    &-title {
      color: var(--Gray-0, #F3F4F6);
      font-size: 32px;
      font-weight: 300;
      line-height: 130%;
    }

    &-description {
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 344px;

      &-text {
        color: var(--Gray-60, #B0B1B5);
        font-size: 16px;
        font-weight: 300;
        line-height: 140%;
      }
    }
  }
}
